<?xml version="1.0" encoding="UTF-8"?>

<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 
      http://maven.apache.org/xsd/settings-1.0.0.xsd">
	<servers>
		<server>
			<id>your.keyname</id>
			<passphrase>PiAngles123</passphrase>
		</server>
		<server>
			<id>ossrh</id>
			<username>${env.SonatypeUser}</username>
			<password>${env.SonatypePassword}</password>
		</server>
	</servers>

	<profiles>
		<profile>
			<id>my_profile_id</id>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<properties>
				<gpg.keyname>your.keyname</gpg.keyname>
			</properties>
		</profile>
	</profiles>

</settings>
